<DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.js"></script>
  <link rel="stylesheet" type="text/css" href="views/resources/style.css"></link>
</head>

<body>

  <!-- Nav Bar -->
  <ul class="Nav-Bar">
    <li><img id="Nav-Logo" src="views/resources/images/Code.Scribe.png" alt="Code.Scribe Logo"></li>
    <li><a href="/index" class="Nav-Home">Home</a></li>
    <li class="New-Value"><br /><br /></li>
    <li><a class="Nav-Header">HTML Guides</a></li>
    <li><a href="/htmlbasics" class="Nav-Value">HMTL Basics</a></li>
    <li class="New-Value"><br /><br /></li>
    <li><a class="Nav-Header">CSS Guides</a></li>
    <li><a class="Nav-Active">CSS Basics</a></li>
    <li class="New-Value"><br /><br /></li>
    <li><a class="Nav-Header">Quizes</a></li>
    <li><a href="/htmlquiz" class="Nav-Value">Html Quizes</a></li>
    <li><a href="/cssquiz" class="Nav-Value">CSS Quizes</a></li>
    <li class="Nav-Spacer"></li>
    <li><a href="/profile" class="Nav-Profile">Profile</a></li>
    <li><a href="/logout" class="Nav-Logout">Log-Out</a></li>
  </ul>

  <!-- Header -->
  <div class="Div-Header">
    <h1 class="Page-Header">Guides</h1>
  </div>

  <!-- Body -->
  <div class="Div-Body">
    <div class="Body-Container">

      <!-- Messages -->
      <%- include ("../../partials/messages") %>

      <h1 class="Body-Header">CSS Guides</h1>

      <br /><br />

      <h2 class="Body-Link"><a class="Body-Link" href="/cssintro">Introduction To CSS</a><h2>
      <h2 class="Body-Link"><a class="Body-Link" href="/cssselectors">Selectors in CSS</a><h2>
      <h2 class="Body-Link"><a class="Body-Link" href="/cssfonts">Modifying Fonts in CSS</a><h2>

    </div>
  </div>

</body>
</html>
