<DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.js"></script>
  <link rel="stylesheet" type="text/css" href="views/resources/style.css"></link>
</head>

<body>

  <!-- Nav Bar -->
  <ul class="Nav-Bar">
    <li><img id="Nav-Logo" src="views/resources/images/Code.Scribe.png" alt="Code.Scribe Logo"></li>
    <li><a href="/index" class="Nav-Home">Home</a></li>
    <li class="New-Value"><br /><br /></li>
    <li><a class="Nav-Header">HTML Guides</a></li>
    <li><a href="/htmlbasics" class="Nav-Value">HMTL Basics</a></li>
    <li class="New-Value"><br /><br /></li>
    <li><a class="Nav-Header">CSS Guides</a></li>
    <li><a href="/cssbasics" class="Nav-Value">CSS Basics</a></li>
    <li class="New-Value"><br /><br /></li>
    <li><a class="Nav-Header">Quizes</a></li>
    <li><a href="/htmlquiz" class="Nav-Value">Html Quizes</a></li>
    <li><a href="/cssquiz" class="Nav-Value">CSS Quizes</a></li>
    <li class="Nav-Spacer"></li>
    <li><a class="Nav-ProfileActive">Profile</a></li>
    <li><a href="/logout" class="Nav-Logout">Log-Out</a></li>
  </ul>

  <!-- Header -->
  <div class="Div-Header">
    <h1 class="Page-Header">Profile</h1>
  </div>

  <!-- Body -->
  <div class="Div-Body">
    <div class="Body-Container">

      <!-- Messages -->
      <%- include ("./partials/messages") %>

    </br>
    <h1>Welcome <%= user.username %>!</h1>

      <fieldset class="Fieldset">
        <form action="/update" method="POST">
        </br>
          <label class="Fieldset-Label" for="username">Username:</label>
          </br></br>
          <input class= "Fieldset-Input" type="text" name="username"
            placeholder="Enter Username" value="<%= user.username %>">
          </br></br>
          <label class="Fieldset-Label" for="password">Password:</label>
          </br></br>
          <input class= "Fieldset-Input" type="password" name="password"
            placeholder="Enter Password">
          </br></br>
          <label class="Fieldset-Label" class="Floating-Label" for="password">Confirm Password:</label>
          </br></br>
          <input class= "Fieldset-Input" type="password" name="password2"
            placeholder="Confirm Password">
          </br></br>
          <label class="Fieldset-Label" class="Floating-Label" for="password">Email:</label>
          </br></br>
          <input class= "Fieldset-Input" type="text" name="email"
            placeholder="Enter Email" value="<%= user.email %>">
          </br></br>
          <button class="Fieldset-Button" >Submit Changes</button>
        </form>
        <button class="Fieldset-Button" ><a href="/profileEditUndo" class="passive">Undo Changes</a></button>
      </fieldset>
    </div>
  </div>

</body>
</html>
